[program:cadvisor]
command= {{ customized_bin_dir }}/start_cadvisor.sh
autostart=true
autorestart=true
startretries=999
redirect_stderr=True
nodaemon = False
debug = False
stdout_logfile = {{ supervisord_log_dir }}/cadvisor.out
stderr_logfile = {{ supervisord_log_dir }}/cadvisor.err
loglevel = "info"
stopasgroup=true